<mat-card>
<div  fxFlex class="page-container"  fxLayoutAlign="center">  
  <div fxLayout="column" fxFlex="25%" fxFlex.lt-md="75%" class="form-panel"> 
<form (ngSubmit)="onSubmit()" #CpuserprofileForm="ngForm">
<mat-form-field appearance="outline">
  <mat-label>Password </mat-label>
  <input matInput [(ngModel)]="oldPassword" type="password" placeholder="password" name="oldPassword"  autofocus required #xoldPassword="ngModel"  >
  <mat-icon matSuffix>user</mat-icon>  
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Change Password </mat-label>
    <input matInput [(ngModel)]="newPassword" type="password" placeholder="New Password" name="newPassword"   required #xnewPassword="ngModel" >
    <mat-icon matSuffix>user</mat-icon>  
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Confirm new Password </mat-label>
    <input matInput [(ngModel)]="confirmPassword" type="password" placeholder="Confirm New Password" name=" confirmPassword"   required #xconfirmPassword="ngModel">
    <mat-icon matSuffix>user</mat-icon>  
  </mat-form-field>

  <div>
<button mat-raised-button color="primary" [disabled]="!CpuserprofileForm.form.valid" style="width: 100px;">Change</button>
</div>
</form>
</div>
</div>
</mat-card>