<mat-card>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> 
  <div class="page-container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort> 
          <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef style="font-size: 15px;color: blue"> No.</th> 
              <td mat-cell *matCellDef="let rowId=index"> {{rowId+1}}</td>         </ng-container> 
        
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px;color: blue"> Job Title </th>
          <td mat-cell *matCellDef="let appliedjobs"> {{appliedjobs.title}} </td>
        </ng-container>
        <ng-container matColumnDef="applications">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px;color: blue">Number of Applications </th>
          <td mat-cell *matCellDef="let appliedJobs"> {{appliedJobs.count}} </td>
        </ng-container>
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px;color: blue"> Action</th>
          <td mat-cell *matCellDef="let rowId"> <a [routerLink]="['/Main/applicationTable',rowId.jobid]"><button mat-raised-button color="primary">Details</button></a></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="font-size: 15px;color: blue"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
</mat-card>