<mat-card>
    <mat-card-title style="display:flex;justify-content:center;align-items:center;" class="mat-display-3">
      {{cpJobs.title}}
    </mat-card-title>
    <mat-card-content>
      <div fxFlex class="page-container" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="50%" fxFlex.lt-md="75%">
          <div fxLayout="row" fxFlex>
            <span class="mat-h2 mat-title">Designation : </span> 
            <span class="mat-h3 mat-subheading-2">{{cpJobs.designation}}</span>
          </div>
          <div fxLayout="row" fxFlex>
          <span class="mat-h2 mat-title">Description: </span> <span
            class="mat-h3 mat-subheading-2">{{cpJobs.description}} </span></div>
            <div fxLayout="row" fxFlex>
            <span class="mat-h2 mat-title">Qualification: </span> <span
            class="mat-h3 mat-subheading-2">{{cpJobs.qualification}}</span></div>
            <div fxLayout="row" fxFlex>
          <span class="mat-h2 mat-title">Employment Type : </span> <span
            class="mat-h3 mat-subheading-2">{{cpJobs.employment_type}}</span></div>
            <div fxLayout="row" fxFlex>
            <span class="mat-h2 mat-title">CTC : </span> <span class="mat-h3 mat-subheading-2">
            {{cpJobs.ctc}}</span></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
<form (ngSubmit)="onSubmit()" #CpjobapplicationForm="ngForm" >
<mat-card>
    <div  fxFlex class="page-container"  fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="50%" fxFlex.lt-md="75%" class="form-panel">    
          <mat-form-field appearance="outline">
      <mat-label>Cover Letter</mat-label>
      <textarea matInput  [(ngModel)]="cpJobApplication.notes" name="notes" placeholder="Enter notes" rows="10"   required #notes="ngModel"></textarea>
      <mat-icon matSuffix>notes</mat-icon>  
    </mat-form-field>
    <div  fxLayout="row" class="page-container"  fxLayoutAlign="space-evenly">
        <button mat-raised-button type="submit" [disabled]="!CpjobapplicationForm.form.valid" color="primary" class="form-button">
              Apply
        </button>
        <a routerLink="/Main/jobDetail">
        <button mat-raised-button color="warn" class="form-button" type="button">
          cancel
        </button></a>
    </div>
    </div>
  </div>
  </mat-card>
</form>
<!--<mat-card>
  <mat-card-header>
    Your Details:
  </mat-card-header>
  <mat-card-content>
    <form>
    <mat-form-field> 
        <mat-label>File Name</mat-label><input matInput placeholder="filename"> 
    </mat-form-field>
    <br>
    <mat-form-field> 
        <mat-label>File Type</mat-label> 
        <mat-select>
            <mat-option>
              .pdf
            </mat-option>
            <mat-option>
              .doc
            </mat-option>
          </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field> 
        <mat-label>File Path</mat-label><input matInput placeholder="filepath"> 
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary">Apply</button>
    </form>
  </mat-card-content>
</mat-card>-->